body {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-family: 'Lato', sans-serif;
}

a {
  color: white !important;
}

a:hover {
  color: #08c !important;
}

a:active {
  color: #007bff !important;
}

.top-nav {
  display: none;
}

.main-nav-ul {
  flex-direction: column;
  gap: 40px;
  list-style-type: none;
  margin-top: 15%;
  position: relative;
  right: 800px;
  transition: 500ms ease-in-out;
}

.close_menu {
  color: white;
  font-size: 40px;
  width: 100%;
  position: relative;
  top: -49px;
  left: 36px;
}

.main-nav {
  color: white;
  background: rgba(69, 131, 173, 0.616);
  backdrop-filter: blur(10px);
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 800px;
  bottom: 0;
  font-size: 26px;
  transition: 500ms ease-in-out;
}

.main-nav-active {
  right: 0;
}

.home-section {
  background-image: url(../img/Space.png);
  background-repeat: no-repeat;
  height: 600px;
}

.hamburger {
  max-width: 63px;
  margin: 25px;
}

.home-title {
  font-size: 36px;
  line-height: 52px;
  font-weight: 400;
  letter-spacing: 0;
  color: #fff;
}

.home-contanier {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-haeder {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: bold;
  font-size: calc(100% + 2.2vw);
  background: center / cover no-repeat url(../img/background_text.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
}

.home-p {
  font-size: calc(100% + 0.1vw);
  line-height: calc(100% + 1.5vw);
  background-color: #f7f7f7;
  border: 3px solid #fff;
  margin: 30px;
}

.photo-p {
  font-size: calc(100% + 1.2vw);
  line-height: calc(100% + 1.5vw);
  margin: 30px;
}

.date {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: calc(100% + 2.5vw);
  font-weight: bold;
  color: gray;
  margin-top: 15px;
}

.about-us-p {
  text-align: center;
  font-family: 'COCOGOOSE', sans-serif;
  font-size: calc(100% + 0.5vw);
  font-weight: bold;
  color: gray;
  margin-top: 15px;
}

.our-logo {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgb(187, 187, 187);
}

.our-logo-haeder {
  color: rgb(54, 52, 52);
  text-align: center;
  margin-top: 100px;
}

.logo-img {
  background-image: url(../img/logo.png);
  height: 294px;
  background-repeat: no-repeat;
  width: 314px;
  background-position-y: 41px;
  filter: grayscale(100%) contrast(0%);
}

.place {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: calc(100% + 1.5vw);
  font-weight: 200;
  color: gray;
  padding-top: 25px;
}

.red-line {
  background-color: #ec5242;
  border: 1px solid #ec5242;
  width: 50px;
  margin-top: 10px;
  opacity: 100;
  align-self: center;
}

.main-page {
  background-color: #272a31;
  background-image:
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 0
    ),
    linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 0
    ),
    linear-gradient(
      45deg,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 0
    ),
    linear-gradient(
      -45deg,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 0
    );
  background-size: 24px 24px;
  background-position: 0 0, 0 12px, 12px -12px, -12px 0;
  margin-top: -10px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-program {
  padding-top: 10px;
  color: white;
}

.program-img {
  width: 55px;
}

.program-item {
  background-color: rgba(255, 255, 255, 0.2);
  width: 523px;
  display: flex;
  gap: 17px;
  margin: 7px;
  padding: 25px;
}

.program-item:hover {
  border: 2px solid white;
}

.program-name {
  font-size: calc(80% + 1vw);
  color: #ec5242;
}

.program-p {
  color: white;
}

.main-btn {
  background-color: #ec5242;
  border: none;
  padding: 20px;
  width: 50vw;
  margin-top: 25px;
}

.sponsors {
  background-color: #414246;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponser1 {
  height: 150px;
  background-image: url(../img/sponsor1.png);
  background-repeat: no-repeat;
  width: 150px;
  filter: grayscale(100%) contrast(0%);
  flex: 1 1 33.33%;
}

.sponser2 {
  height: 150px;
  background-image: url(../img/sponsor2.png);
  background-repeat: no-repeat;
  width: 150px;
  filter: grayscale(100%) contrast(0%);
  flex: 1 1 33.33%;
}

.sponser3 {
  height: 150px;
  background-image: url(../img/sponsor3.png);
  background-repeat: no-repeat;
  width: 150px;
  filter: grayscale(100%) contrast(0%);
  flex: 1 1 33.33%;
}

.sponser4 {
  height: 150px;
  background-image: url(../img/sponsor4.png);
  background-repeat: no-repeat;
  width: 150px;
  filter: grayscale(100%) contrast(0%);
  flex: 1 1 50%;
}

.sponser5 {
  height: 150px;
  background-image: url(../img/sponsor5.png);
  background-repeat: no-repeat;
  width: 150px;
  filter: grayscale(100%) contrast(0%);
  flex: 1 1 50%;
}

.sponsers-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.end {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(100% + 0.2vw);
}

.footer-logo {
  width: 250px;
  padding: 7px;
  padding-left: 85px;
}

.footer-p {
  width: 70%;
  margin-left: 50px;
  text-align: center;
}

.currunt-tab {
  text-decoration: underline;
  color: rgba(11, 32, 46, 0.616);
}

.USA1 {
  background-image: url(../img/USA2018.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 360px;
  height: 330px;
}

.USA2 {
  background-image: url(../img/USA2017.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 360px;
  height: 330px;
}

.event-photo {
  margin: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  background-color: #ec5242;
  background-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.opacity {
  opacity: 0.5;
}

.opacity:hover {
  opacity: 1;
}

.text-block {
  color: white;
  position: absolute;
  font-size: 2rem;
  z-index: 5;
  text-align: center;
}

.our-photos {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1036px;
  border-bottom: 2px solid rgb(187, 187, 187);
  justify-content: space-around;
}

.main-nav-menu {
  display: none;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.email {
  color: #414246 !important;
}

.card-all {
  display: flex;
  flex-wrap: wrap;
}

.speaker-card {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 25px;
}

.card-flot {
  float: right;
}

.card-img {
  max-width: 150px;
  float: left;
  max-height: 150px;
  padding: 20px;
}

.speaker-name {
  font-size: calc(100% + 0.5vw);
  font-weight: bold;
}

.company {
  font-size: calc(80% + 0.1vw);
  font-style: italic;
  color: #ec5242;
  border-bottom: 1px solid;
}

.speaker-dis {
  font-size: calc(70% + 0.1vw);
}

.speaker-main {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .body {
    position: relative;
    display: grid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

  .top-nav-ul {
    list-style-type: none;
    color: white;
    gap: 20px;
    margin-bottom: 0 !important;
    position: relative;
    left: -188px;
  }

  .top-nav {
    display: block;
  }

  .main-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .home-section {
    background-size: cover;
    padding: 118px;
    height: 100%;
  }

  .navbar {
    margin-bottom: 0 !important;
  }

  .main-nav-menu {
    height: 80px;
    display: flex;
  }

  .nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .nav-link {
    color: rgba(0, 0, 0, 0.7) !important;
  }

  .logo {
    filter: grayscale(100%) contrast(0%);
    height: 86%;
    margin-top: 5px;
  }

  .home-haeder {
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: bold;
    font-size: calc(100% + 4.2vw);
    background: center / cover no-repeat url(../img/background_text.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 60%;
    line-height: 75px;
    text-align: left;
  }

  .home-title { display: none; }

  .home-contanier {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .main-page-items {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }

  .program-item {
    background-color: rgba(255, 255, 255, 0.2);
    width: 255px;
    display: flex;
    gap: 17px;
    margin: 7px;
    padding: 25px;
    max-height: 257px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-page {
    height: 450px;
  }

  .sponsers-list {
    display: flex;
    gap: 119px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .sponsors {
    height: 260px;
  }

  .about {
    text-align: center !important;
    width: 100%;
  }

  .logo-img {
    height: 187px;
  }

  .our-logo-haeder {
    margin-top: 30px;
  }

  .our-photos {
    height: 792px;
  }

  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .end {
    background-color: #272a31;
    margin-top: 0;
    justify-content: flex-end;
  }

  .footer-p {
    color: white;
    font-size: 22px;
    line-height: 45px;
  }

  .footer-logo {
    width: 221px;
    padding: 21px;
  }

  .orange {
    border: 3px solid #ec5242;
  }

  .card-all {
    display: flex;
    flex-wrap: wrap;
  }

  .speaker-card {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 0;
    padding-right: 145px;
    padding-left: 157px;
  }

  .card-flot {
    float: right;
  }

  .card-img {
    max-width: 150px;
    float: left;
    max-height: 150px;
  }

  .speaker-name {
    font-size: calc(100% + 0.5vw);
    font-weight: bold;
  }

  .company {
    font-size: calc(80% + 0.1vw);
    font-style: italic;
    color: #ec5242;
    border-bottom: 1px solid;
  }

  .speaker-dis {
    font-size: calc(90% + 0.1vw);
  }

  .speaker-main {
    text-align: center;
  }
}}
